<app-logged-in-navbar></app-logged-in-navbar>
<div class="container-fliud body-bg">
  <form class="form">
    <h1>Create Cookbook</h1>
    <div class="form-element">
      <input type="text" id="title" class="form-control" placeholder="Title" required autofocus>
    </div>
    <div class="form-element">
      <textarea id="description" class="form-control" placeholder="Description" required></textarea>
    </div>
    <hr>
    <div class="form-element">
      <input type="text" id="recipe" class="form-control" placeholder="Recipe name" required>
      <button class="kt-btn">Add</button>
    </div>
    <hr>
    <div class="form-element">
      <button class="kt-btn" (click)="onSubmit()">Create</button>
    </div>
  </form>
  
</div>