<div class="container-fliud body-bg">
  <form class="form">
    <h1>Create Cookbook</h1>
    <div class="form-element">
      <input type="text" name="title" class="form-control" placeholder="Title" required autofocus>
    </div>
    <div class="form-element">
      <textarea name="description" class="form-control" placeholder="Description" required></textarea>
    </div>
    <hr>
    <div class="form-element">
      <input type="text" class="form-control" placeholder="Recipe name" required>
      <button class="btn-submit">Add</button>
    </div>
    <div class="form-element">
      <label>
        <input type="checkbox" class="checkbox" value="share">
        <label for="description">Share</label>
      </label>
    </div>
    <button class="btn-submit btn btn-lg btn-primary btn-block" type="submit">Create</button>
  </form>
</div>