<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a routerLink="/dashboard" class="navbar-left" ><img id="imgLogo" src="../../../assets/logo.png"></a>
        <a class="navbar-brand" routerLink="/dashboard">Koala-Tea Food</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/createRecipe">Create Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cookbook">Create CookBook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/createMealPlan">Create Meal Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/searchRecipe">Search Recipes</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link disabled" href="" id="">{{user}}</a>
                </li>            
                <li class="nav-item">
                    <a class="nav-link" id="login" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    