<app-logged-in-navbar></app-logged-in-navbar>
<div class="container-fluid body-bg">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h1>Koala-Tea Food</h1>
    </div>
  </div>
  <div class="row">
    <div class="col" align="center">
      <div class="card">
        <h2> Recipe </h2>
        <img class="card-img" src="../../../assets/recipe.jpg" alt="Card image">
        <div class="card-body">
          <a routerLink="/viewRecipes" class="btn btn-primary">View Recipes</a>
        </div>
      </div>
    </div>
    <div class="col" align="center">
      <div class="card">
        <h2> Meal-Plan </h2>
        <img class="card-img" src="../../../assets/meal.jpg" alt="Card image">
        <div class="card-body">
          <a routerLink="/viewMealPlan" class="btn btn-primary">Search Recipe</a>
        </div>
      </div>
    </div>
    <div class="col" align="center">
      <div class="card">
        <h2> Nutrition Info. </h2>
        <img class="card-img" src="../../../assets/healthy.jpg" alt="Card image">
        <div class="card-body">
          <a routerLink="/nutritionInfo" class="btn btn-primary">Search Nutrition Info.</a>
        </div>
      </div>
    </div>
  </div>
</div>