<div class="container-fluid body-bg">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h1>Koala-Tea Food</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" align="center">
      <div class="card">
        <h2> Create </h2>
        <img src="../../../assets/create.jpg">
      </div>
    </div>
    <div class="col-sm-4" align="center">
      <div class="card">
        <h2> Plan </h2>
        <img src="../../../assets/plan.jpg">
      </div>
    </div>
    <div class="col-sm-4" align="center">
      <div class="card">
        <h2> Eat </h2>
        <img src="../../../assets/eat.jpg">
      </div>
    </div>
  </div>
</div>
