<app-logged-in-navbar></app-logged-in-navbar>
<div class="container-fliud body-bg">
  <form class="form">
    <h1>Ingredient</h1>
    <div class="form-element">
      <input type="text" name="name" class="form-control" placeholder="Name">
    </div>
    <div class="form-element">
      <textarea name="recipe" class="form-control" placeholder="recipe"></textarea>
    </div>
    <div class="form-element">
      <input type="text" name="amount" class="form-control" placeholder="amount">
    </div>
    <div class="form-element">
      <input type="text" name="unit" class="form-control" placeholder="unit">
    </div>
  </form>
</div>
