<div id="formbox" class="fluid-container body-bg">
  <form action="" method="POST" class="form-signin">
    <h1>Sign in</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
    
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    Not a user. <a routerLink="/createAccount">Sign-up. </a>
  </form>

</div> <!-- /container -->