<app-logged-in-navbar></app-logged-in-navbar>
<div class="container col-md-11">
    <div class="row">
        <div class="formbox col-md-6">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="unit">Cookbook</label>
                    <input readonly type="text" name="cookbook" class="form-control" id="cookbook" placeholder="Cook Book">
                </div>
                <div class="form-group col-md-12">
                    <label for="title">Recipe Title</label>
                    <input readonly type="text" name="title" class="form-control" id="title" placeholder="Recipe Title">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="instructions">Instructions</label>
                    <textarea readonly class="form-control" id="instructions" name="instructions" rows="15"></textarea>
                </div>
            </div>
        </div>

        <div class="table-responsive col-md-6">
            <table class="formbox table table-bordered">
                <thead>
                    <th></th>
                    <th>Ingredient Name</th>
                    <th>Amount</th>
                    <th>Unit of Measurement</th>
                </thead>
                <tbody>
        
        
                </tbody>
            </table>
        </div>
    </div>
</div>