<div id="container" class="col-xs-12 col-sm-9 col-md-9">
    <div class="row">
        <div class="formbox col-md-12">
            <form  action="" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-12">
                    <h4>Create New Recipe:</h4>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="title">Recipe Title</label>
                        <input type="text" name="title" class="form-control" id="title" placeholder="Recipe Title">
                    </div>
                    <div class="form-group col-md-6">
                        <label>
                            <input type="checkbox" value="true" id="public_check" name="public_check"> Public
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="instructions">Instructions</label>
                        <textarea class="form-control" id="instructions" name="instructions" rows="15"></textarea>
                    </div>
                </div>
                <div id="ingredient_block" class="form-row">
                    <div id="item" class="form-group form-row col-md-12">
                        <div class="form-group col-md-4">
                            <label for="ingredients">Ingredients</label>
                            <input type="text" class="form-control" name="ingredient" id="ingredients" placeholder="Ingredients">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" name="amount" id="amount" placeholder="Amount">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="unit">Unit</label>
                            <select id="unit" name="unit" class="form-control">
                                <option *ngFor="let u of units" value="1">{{u}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button (click)="addAnother()" type="button" id="addAnother" class="btn btn-info pull-left">Add another ingredient</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success pull-right">Create Recipe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>