@font-face { font-family: BananaYeti; src: url('../../../assets/BananaYeti-Extrabold.TTF'); } 

html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #B36300;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 60px;
    background-size:cover;
}
.body-bg{
    background-color: #B36300;
    padding-top: 2%;
  }

.form-create-user {
    background-color: #FFBA66;
    max-width: 60%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
}

.form-row {
    padding: 8px;
}

label {
    font-family: BananaYeti;
}

.form-create-user-heading {
    font-family: BananaYeti;
    text-align: center;
    padding: 10px;
    
}

.form-row .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 20px;
  }

#formbox {
    color: #06C564;
    display: block;
    margin-top: 5%;
}

.container {
    width: auto;
    max-width: 80%;
    padding: 0 15px;
  }
  .container p{
    margin: 10px;
}